<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tomdle!</title>
    <style>
        body {
            background-color: rgb(52, 106, 151);
        }
        .center{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-1 center">
            </div>
            {% for letter in words['1'] %}
            <div class="col-2 center">
                <h1>{{letter}}</h1>
            </div>
            {% endfor %}            
            <div class="col-1 center">
            </div>
        </div>

        <div class="row">
            <div class="col-1 center">
            </div>
            {% for letter in words['2'] %}
            <div class="col-2 center">
                <h1>{{letter}}</h1>
            </div>
            {% endfor %}   
            <div class="col-1 center">
            </div>
        </div>
        <div class="row">
            <div class="col-1 center">
            </div>
            {% for letter in words['3'] %}
            <div class="col-2 center">
                <h1>{{letter}}</h1>
            </div>
            {% endfor %}                   
            <div class="col-1 center">
            </div>
        </div>
        <div class="row">
            <div class="col-1 center">
            </div>
            {% for letter in words['4'] %}
            <div class="col-2 center">
                <h1>{{letter}}</h1>
            </div>
            {% endfor %}                     
            <div class="col-1 center">
            </div>
        </div>
        <div class="row">
            <div class="col-1 center">
            </div>
            {% for letter in words['5'] %}
            <div class="col-2 center">
                <h1>{{letter}}</h1>
            </div>
            {% endfor %}                    
            <div class="col-1 center">
            </div>
        </div>
        <div class="row">
            <div class="col-1 center">
            </div>
            {% for letter in words['6'] %}
            <div class="col-2 center">
                <h1>{{letter}}</h1>
            </div>
            {% endfor %}                    
            <div class="col-1 center">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <br>
            </div>
        </div>  
        <div class="row">
            <div class="col-12">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <br>
            </div>
        </div>
            <div class="col-12 center">
                <form action="/try" method="GET">
                    <input type="text" class="word" name="word">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>